body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    box-sizing: border-box;
  }
  .contenedor{
    max-width: 1200px;
    margin: 0 auto;
  }
  .seccion{
    padding: 25px 0;
  }
  .bg-rojo{
    background-color: #f95959 !important;
  }
  .bg-amarillo{
    background-color: #facf5a !important;
  }  
  .bg-azul{
    background-color: #455d7a !important;
  }
  .bg-verde{
    background-color: #4d7a45 !important;
    color: #ffffff !important;
  }
  /* Assign grid instructions to our parent grid container, mobile-first (hide the sidenav) */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      'header'
      'main'
      'footer';
    height: 100vh;
  }

  /* Give every child element its grid name */
  .header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #414141;
  }
  .header__title{
    text-decoration: none;
    color: #ffffff;
    padding-left: 10px;
  }
  .header__links{
    display: flex;
  }
  .header__links a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 20px;
  }
  .header__links a:last-child{
    margin-right: 0;
  }
  .main {
    grid-area: main;
    background-color: #ffffff;
    height: 80%;
  }
  
  .main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
    grid-auto-rows: 94px;
    grid-gap: 20px;
    margin: 20px;
  }
  
  .overviewcard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #d3d3;
  }
  .overviewcard a{
    text-decoration: none;
    color: #ffffff;
  }
  .h{
    height: 80%;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
    width: 100%;
  }
  
  .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #82bef6;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
  }
  .card h3{
    font-size: 45px;
  }
  .bg-videojuegos{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url("https://cdn.pixabay.com/photo/2015/12/06/17/44/video-game-1079756_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .bg-consolas{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url("https://cdn.pixabay.com/photo/2016/11/02/14/14/x-box-1791671_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .bg-videojuego{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url("https://cdn.pixabay.com/photo/2016/07/28/16/26/atari-2600-1548365_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  /* Force varying heights to simulate dynamic content */
  .card:first-child {
    height: 485px;
  }
  
  .card:nth-child(2) {
    height: 232.5px;
  }
  
  .card:nth-child(3) {
    height: 232.5px;
  }
  
  .footer {
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #414141;
    height: 100%;
  }

  /* Medium screens breakpoint (1050px) */
  @media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
      column-count: 2;
    }
  }

  /*********** Formulario **********/
  .formulario{
    border: 1px solid #ffffff;
    padding: 20px;
    max-width: 600px;
    display: flex;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
    background-color: #ffffff;
    color: #414141;
  }
  .contenido-formulario{
    width: 100%;
    justify-items: center;
  }
  .contenido-formulario h2{
    text-align: center;
  }
  form{
    margin: 0 auto; 
  }
  .img-edit{
    height: 100px;

  }
  label{
    display: block;
    margin-bottom: 5px; 
  }
  input, select{
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    background-color: transparent;
  }
  input:focus{
    border: 1px solid #1668c4;
  }
  button{
    display: block;
    width: 100%;
    cursor: pointer;
  }
  .boton{
    background-color: #4a88f4;
    color: #ffffff;
    font-weight: 700;
    padding: 15px;
    transition: .3s;
    border: none;
}
.boton:last-child{
    margin-right: 0;
}
.boton:hover{
    background-color: #1668c4;
}
h2{
  margin-top: 0 ;
}
.tabla_productos{
  padding: 20px;
  margin-top: 70px;
  background-color: #ffffff;
  color: #414141;
  height: 100%;
}
.tabla_productos table{
  width: 100%;
  border: 1px solid #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
  margin-bottom: 70px;
}
.tabla_productos table thead tr td{
  font-weight: 700;
  text-align: center;
}
.tabla_productos table tbody tr td{
  text-align: center;
}
.tabla_productos table tbody tr img{
  height: 100px;
}
.tabla_productos table tbody tr td a{
  text-decoration: none;
  color: #414141;
}